<ion-header>
  <ion-toolbar  color="abby">
    <ion-button color="ligth" [routerLink]="['/']">Volver</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngFor="let item of preguntas">
    <ion-item [routerLink]="['/pregunta/']" [queryParams]="{id: item.id}">
      
      <ion-avatar slot="start">
        <img src="https://previews.123rf.com/images/codexserafinius/codexserafinius1710/codexserafinius171000058/87730103-hand-question-mark-palm-open-icon-outline-illustration-of-hand-open-palm-with-question-mark-number-o.jpg">
      </ion-avatar>
      <ion-label>
        <h3>Pregunta numero {{item.id}}</h3>
        <p>{{ item.categoria }}</p>
        <p>{{ item.pregunta }}</p>
      </ion-label>
    </ion-item>
  
  </ion-list>

</ion-content>
