<ion-header>
  <ion-toolbar  color="dark">
    <ion-title> <ion-button color="dark" [routerLink]="['/']">Volver</ion-button></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Escribe lo que quieres decir en lengua de sennas</ion-label>

    <ion-input (keyup)="buildPhrase($event)"></ion-input>

  </ion-item>

  
    <ion-grid>
      <ion-row>
        
        <ion-col *ngFor="let item of oracion; " size="3"  (click)="moreinfo(item)"  >    
          <img src="/assets/sennas/{{item}}.jpg"> 
        </ion-col>
      </ion-row>
    </ion-grid>
  
  
</ion-content>
