
<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title color="light">Menu Principal</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>

      <ion-item> 
        <ion-button icon-only fill="clear" >
        <ion-icon name="attach" color="dark"></ion-icon>      <ion-label [routerLink]="['/abc']" color="dark">Abecedario</ion-label>      
      </ion-button>
      </ion-item>

      <ion-item> 
        <ion-button icon-only fill="clear" >
        <ion-icon name="language" color="dark"></ion-icon>      <ion-label [routerLink]="['/traductor']" color="dark">Traductor</ion-label>      
      </ion-button>
      </ion-item>

  

      <ion-item> 
        <ion-button icon-only fill="clear" >
        <ion-icon name="list" color="dark"></ion-icon>      <ion-label [routerLink]="['/pruebas']" color="dark">Ejercicios</ion-label>      
      </ion-button>
      </ion-item>

      <ion-item> 
        <ion-button icon-only fill="clear" >
        <ion-icon name="list" color="dark"></ion-icon>      <ion-label [routerLink]="['/braile']" color="dark">Braile</ion-label>      
      </ion-button>
      </ion-item>


    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>

<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title (click)="openFirst()" color="light">
      <ion-icon name="hand-right"></ion-icon>
      LSM PARA TODOS 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-infinite-scroll>
    <div class="ion-text-center">
<img width="50%" src="https://www.lsm.cdmx.gob.mx/pluginfile.php/51/course/overviewfiles/2000_5eb5bec257e4a.jpg">
</div>
    <!--<ion-button (click)="httpCall()"></ion-button>


<ion-list *ngFor="let item of items">
  <ion-item>
    <ion-avatar slot="start">
      <img src="./avatar.svg">
    </ion-avatar>
    <ion-label>
      <h3>Lorem ipsum</h3>
      <p>dolor sit amet</p>
      <p>consectetur adipiscing elit. Duis ut urna neque.</p>
    </ion-label>
  </ion-item>

</ion-list>
-->
</ion-infinite-scroll>
  

</ion-content>

